{include file="login/header.html"}		
<header class="mui-bar mui-bar-nav">
	<button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left">
		<a href="{U('index/init')}"><span class="mui-icon mui-icon-home"></span>首页</a>
	</button>
	<h1 class="mui-title">新财会题库注册</h1>
	<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right"><a href="{U('/Mobile/Login/login')}">登录</a></button>
</header>

<div class="mui-content">
	<div class="mui-card">
		<form class="mui-input-group" id="form-data">
			<div class="mui-input-row">
				<input style="display:none" />
				<input id='mobile' name="user[mobile]" type="text" value="{@xCookie::get('mobile','')}" class="mui-input-clear mui-input" placeholder="手机号码">
			</div>
			<div class="mui-input-row">
				<input style="display:none" />
				<input id='code' name="user[code]" type="text" class="mui-input-clear mui-input" placeholder="短信验证码">
				<button id='getcode' class="mui-btn" type="button">获取验证码</button>
			</div>
			<input type="hidden" name="query" value="insert" />
		</form>
	</div>
	<div class="mui-content-padded">
		<button id='register' class="mui-btn mui-btn-block mui-btn-primary" type="button">注册</button>
		<div class="link-area">
			<span class="spliter">新财会不会泄露你的手机号码，不会收取任何费用</span>
		</div>
	</div>
</div>
<script>

var timer = null;
var sendmsm = $('#getcode') , i = 60;

sendmsm.click(function(){
	
	if(!/^1(3|4|5|7|8)\d{9}$/.test($('#mobile').val().toString().replace(/[^\d]/g,''))){
		dialog.toast({message:'手机号码不正确'});
		return;
	}
	
	if( timer && i > 0 ) return ;
	
	sendmsm.html('获取中...');
	
	$.ajax({
		url:"{U('mobile/login/getregistercode')}",
		data:{query:'getcode',mobile:$('#mobile').val()},
		accepts:'json',
		success: function(replayData,status){
			if(replayData.status=='success'){
				if(timer)clearInterval(timer);
				i = 60;
				timer = setInterval(function(){
					sendmsm.html(i+'秒后重发');
					i--;
					if(i<0){
						clearInterval(timer);
						sendmsm.html('重新获取');
					}
				},1000);
				
			}else if(replayData.status=='error'){
				sendmsm.html('获取验证码');
				dialog.toast({message:replayData.message});
			}else{
				dialog.toast({message:'系统错误'});
			}
		},
		complete: function(status){
			if(status=='timeout'){
				dialog.toast({message:'提交数据超时'});
			}else if(status=='error'){
				dialog.toast({message:'系统错误'});
			}
		},
		timeout:10000
	});
});


$('#register').click(function(){
	
	if(!/^1(3|4|5|7|8)\d{9}$/.test($('#mobile').val().toString().replace(/[^\d]/g,''))){
		dialog.toast({message:'手机号码不正确'});
		return;
	}
	if(!/^[\d]{6}$/.test($('#code').val().toString().replace(/[^\d]/,''))){
		dialog.toast({message:'短信验证码不正确'});
		return;
	}

	var formData = $('#form-data').serialize();
	$.ajax({
		url:"{U('mobile/login/register')}",
		data:formData,
		accepts:'json',
		success: function(replayData,status){
			if(replayData.status=='success'){
				dialog.toast({message:replayData.message},function(){
					window.location = "{U('mobile/index/init')}";
				});
				return;
			}else if(replayData.status=='error'){
				dialog.toast({message:replayData.message});
			}else{
				dialog.toast({message:'系统错误'});
			}
		}
	});
});
</script>
{include file="login/footer.html"}