{include file="common/header.html"}
<div class="ac-main">	
	<div class="ac-warp">
		<div class="ac-content" id="ac-content">
			<div class="ac-nav">
				<a href="{U('admin/index/main')}">主页</a>
				<span>&raquo;</span>
				<a href="{U('lists')}">章节管理</a>
				<span>&raquo;</span>
				<a href="{U()}">添加章节</a>
			</div>
			<div class="ac-content-inner">
				<div class="ac-table-view">
					<div class="ac-table-card">
						<ul>
							<li><a href="{U('lists')}">章节管理</a></li>
							<li class="on"><a href="{U()}">添加章节</a></li>
						</ul>
						<div class="ac-table-right-card">
							<a class="btn ac-back">返回</a>
						</div>
					</div>
					<div class="ac-table-search">
						
					</div>
					<div class="ac-table-body">
						<form action="{U('add',array('query'=>'insert'))}" method="post">
							<input type="hidden" name="query" value="insert" />
							<input type="hidden" name="token" value="{$token}" />
							<table class="ac-table-basic ac-table-basic-query" cellpadding="8" cellspacing="0">
								<tr>
									<th align="center">章节名称</th>
									<td align="center">
										<input type="text" name="subject_tree[chaptername]" id="chaptername" placeholder="章节名称" />
										<label style="margin-left:15px;"><input type="checkbox" name="batch" value="1" id="batch" />批量添加使用“|”隔开</label>
									</td>
								</tr>
								<tr>
									<th align="center">选择科目</th>
									<td align="center">
										<select name="subject_tree[subjectid]" id="subjectid">
											<option value="0">---选择科目---</option>
											{loop $subject $k $v}
											<option value="{$v['subjectid']}" {if $v['subjectid']==$subjectid}selected{/if}>{$v['subjectname']}</option>
											{/loop}
										</select>
									</td>
								</tr>
								<tr>
									<th align="center">上级章节</th>
									<td align="center">
										<select name="subject_tree[parentid]" id="parentid">
											<option value="0">---选择上级章节---</option>
											{$subject_tree}
										</select>
									</td>
								</tr>
								<tr>
									<th align="center">章节关键词</th>
									<td align="center">
										<textarea name="subject_tree[keywords]" id="keywords" placeholder="章节关键词"></textarea>
									</td>
								</tr>
								<tr>
									<th align="center">章节描述</th>
									<td align="center">
										<textarea name="subject_tree[description]" id="description" placeholder="章节描述"></textarea>
									</td>
								</tr>
								<tr>
									<th align="center">章节排序</th>
									<td align="center">
										<input type="text" name="subject_tree[listorder]" id="listorder" value="0" placeholder="章节排序" />
									</td>
								</tr>
								<tr>
									<th></th>
									<td align="center">
										<input type="submit" value=" 确定 " class="ac-btn" />
										<input type="reset" value=" 重填 " class="ac-btn" />
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
<script>
var batch1 = '<input type="text" name="subject_tree[chaptername]" id="chaptername" placeholder="章节名称" />';
var batch2 = '<textarea name="subject_tree[chaptername]" id="chaptername" placeholder="批量章节"></textarea>';
$('#batch').click(function(){
	$(this).parent().prev().remove();
	if($(this).get(0).checked){
		$(this).parent().before(batch2);
	}else{
		$(this).parent().before(batch1);
	}
});
</script>
{include file="common/footer.html"}