{include file="common/header.html"}
<div class="ac-main">	
	<div class="ac-warp">
		<div class="ac-content" id="ac-content">
			<div class="ac-nav">
				<a href="{U('admin/index/main')}">主页</a>
				<span>&raquo;</span>
				<a href="{U('lists')}">专业管理</a>
			</div>
			<div class="ac-content-inner">
				<div class="ac-table-view">
					<div class="ac-table-card">
						<ul>
							<li class="on"><a href="{U('lists')}">专业管理</a></li>
							<li><a href="{U('add')}">添加专业</a></li>
						</ul>
						<div class="ac-table-right-card">
							<a class="btn ac-back">返回</a>
						</div>
					</div>
					<div class="ac-table-search">
						
					</div>
					<div class="ac-table-body">
						<form action="{U('listorder')}" method="post">
							<table class="ac-table-basic" cellpadding="8" cellspacing="0">
								<tr>
									<th width="15" align="center"><input type="checkbox" id="chkall" onclick="selectcheckbox(this.form)" value="check"></th>
									<th width="40" align="center">排序</th>
									<th width="40" align="center">编号</th>
									<th width="260" align="center">专业名称</th>
									<th width="80" align="center">售价</th>
									<th width="100" align="center">试用</th>
									<th align="center">专业描述</th>
									<th width="200" align="center">操作</th>
								</tr>
								{loop $major $k $v}
								<tr>
									<td align="center"><input type="checkbox" name="checkbox[]" value="{$v['majorid']}"></td>
									<td align="center"><input type="text" name="listorder[{$v['majorid']}]" value="{$v['listorder']}" class="listorder"></td>
									<td align="center">{$v['majorid']}</td>
									<td align="left">{$v['majorname']}</td>
									<td align="left">{$v['price']}</td>
									<td align="left">{if $v['test']==1}试用时间：{$v['testtime']}天{else}不允许试用{/if}</td>
									<td align="left">{cutStr($v['description'],20)}</td>
									<td align="center">
										<a href="{U('subject/lists')}?search%5Bmajorid%5D={$v['majorid']}">管理科目</a> |
										<a href="{U('edit',array('majorid'=>$v['majorid']))}">编辑</a> |
										<a href="{U('delete',array('majorid'=>$v['majorid']))}" data-delete>删除</a>
									</td>
								</tr>
								{/loop}
							</table>
							<div class="ac-btn-group">
								<input type="submit" value=" 排序 " class="ac-btn" />
								<div class="ac-page">{$page}</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
{include file="common/footer.html"}