{include file="common/header.html"}
<div class="ac-main">	
	<div class="ac-warp">
		<div class="ac-content" id="ac-content">
			<div class="ac-nav">
				<a href="{U('admin/index/main')}">主页</a>
				<span>&raquo;</span>
				<a href="{U('lists')}">专业管理</a>
				<span>&raquo;</span>
				<a href="{U('add')}">添加专业</a>
			</div>
			<div class="ac-content-inner">
				<div class="ac-table-view">
					<div class="ac-table-card">
						<ul>
							<li><a href="{U('lists')}">专业管理</a></li>
							<li class="on"><a href="{U('add')}">添加专业</a></li>
						</ul>
						<div class="ac-table-right-card">
							<a class="btn ac-back">返回</a>
						</div>
					</div>
					<div class="ac-table-search">
						
					</div>
					<div class="ac-table-body">
						<form action="{U('add',array('query'=>'insert'))}" method="post">
							<input type="hidden" name="query" value="insert" />
							<input type="hidden" name="token" value="{$token}" />
							<table class="ac-table-basic ac-table-basic-query" cellpadding="8" cellspacing="0">
								<tr>
									<th align="center">专业名称</th>
									<td align="center">
										<input type="text" name="major[majorname]" id="majorname" placeholder="专业名称" />
									</td>
								</tr>
								<tr>
									<th align="center">专业描述</th>
									<td align="center">
										<textarea name="major[description]" id="description" placeholder="专业描述"></textarea>
									</td>
								</tr>
								<tr>
									<th align="center">允许试用</th>
									<td align="center">
										<label><input type="checkbox" name="major[test]" id="test" value="1">是否允许试用</label>
									</td>
								</tr>
								<tr>
									<th align="center">试用时间</th>
									<td align="center">
										<input type="text" name="major[testtime]" value="7" id="testtime" placeholder="试用时间" />
										<span class="tips">单位（天）</span>
									</td>
								</tr>
								<tr>
									<th align="center">专业排序</th>
									<td align="center">
										<input type="text" name="major[listorder]" id="listorder" value="0" placeholder="专业名称" />
									</td>
								</tr>
								<tr>
									<th></th>
									<td align="center">
										<input type="submit" value=" 确定 " class="ac-btn" />
										<input type="reset" value=" 重填 " class="ac-btn" />
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
{include file="common/footer.html"}