<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="aplus-terminal" content="1"/>
<meta name="apple-mobile-web-app-title" content="JIANGZG"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="msapplication-tap-highlight" content="no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<title>新财会题库-最具影响力的会计免费题库！-管理中心</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="新财会,会计免费题库,会计从业资格考试,会计从业资格考试题库,会计从业考试题库,会计初级考试试题,会计职称考试试题,会计从业资格考试试题,会计基础模拟试题,会计电算化考试试题">
<meta name="description" content="新财会,会计免费题库,会计从业资格考试,会计从业资格考试题库,会计从业考试题库,会计初级考试试题,会计职称考试试题,会计从业资格考试试题,会计基础模拟试题,会计电算化考试试题 删除">
<link href="{__PUBLIC__}Mobile/css/mui.min.css" rel="stylesheet" />
<link href="{__PUBLIC__}Mobile/css/common.css?sdvsdvsd" rel="stylesheet" />
<link href="{__PUBLIC__}Mobile/css/doQuestion.css" rel="stylesheet" />
<link href="{__PUBLIC__}Mobile/css/member.css" rel="stylesheet" />
</head>
{include file="common/loading.html"}
{include file="common/url.html"}
<script type="text/javascript" src="{__PUBLIC__}Mobile/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="{__PUBLIC__}Mobile/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="{__PUBLIC__}Mobile/js/jquery.touchSwipe.js"></script>
<script type="text/javascript" src="{__PUBLIC__}Mobile/js/common.js"></script>
<script type="text/javascript" src="{__PUBLIC__}Mobile/js/doQuestion.js"></script>
<body>
