{include file="common/header.html"}
<div class="ac-main">	
	<div class="ac-warp">
		<div class="ac-content" id="ac-content">
			<div class="ac-nav">
				<a href="{U('admin/index/main')}">主页</a>
				<span>&raquo;</span>
				<a href="{U('admin/admin/lists')}">管理员管理</a>
			</div>
			<div class="ac-content-inner">
				<div class="ac-table-view">
					<div class="ac-table-card">
						<ul>
							<li class="on"><a href="{U('lists')}">管理员管理</a></li>
							<li><a href="{U('add')}">添加管理员</a></li>
						</ul>
						<div class="ac-table-right-card">
							<a class="btn ac-back">返回</a>
						</div>
					</div>
					<div class="ac-table-search">
						
					</div>
					<div class="ac-table-body">
						<form action="{U('listorder')}" method="post">
							<table class="ac-table-basic" cellpadding="8" cellspacing="0">
								<tr>
									<th width="15" align="center"><input type="checkbox" id="chkall" onclick="selectcheckbox(this.form)" value="check"></th>
									<th width="40" align="center">排序</th>
									<th width="40" align="center">编号</th>
									<th width="40" align="center">账号</th>
									<th width="40" align="center">从属组</th>
									<th width="20" align="center">状态</th>
									<th width="40" align="center">登录次数</th>
									<th width="60" align="center">最后登录时间</th>
									<th width="100" align="center">最后登录IP</th>
									<th width="80" align="center">操作</th>
								</tr>
								{loop $admin $k $v}
								<tr>
									<td align="center"><input type="checkbox" name="checkbox[]" value="{$v['admin_id']}"></td>
									<td align="center"><input type="text" name="listorder[{$v['admin_id']}]" value="{$v['listorder']}" class="listorder"></td>
									<td align="center">{$v['admin_id']}</td>
									<td align="left">{$v['admin_name']}{if $v['realname']!=''}-{$v['realname']}{/if}{if time()<=($v['querytime']+30)}-<font color="green">在线[{php echo ac_format_date($v['lastlogintime'])}]</font>{/if}</td>
									<td align="center">{$v['group_name']}</td>
									<td align="center">{if $v['isshow']}启用{else}禁用{/if}</td>
									<td align="center">{$v['logincount']}</td>
									<td align="center">{date('Y-m-d H:i:s',$v['lastlogintime'])}</td>
									<td align="center">{$v['lastloginip']}</td>
									<td align="center">
										<a href="{U('admin/admin/edit',array('admin_id'=>$v['admin_id']))}">编辑</a> |
										<a href="{U('admin/admin/delete',array('admin_id'=>$v['admin_id']))}" data-delete>删除</a>
									</td>
								</tr>
								{/loop}
							</table>
							<div class="ac-btn-group">
								<input type="submit" value=" 排序 " class="ac-btn" />
								<div class="ac-page">{$page}</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
{include file="common/footer.html"}