<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN" data-cdn-path="http://cdn.jiguo.com/zdm/v1.0.3/">
<head>
    <meta charset="utf-8" />
    <title>---</title>
</head>

<body>
<a href="weixin://wap/pay?appid=wx799c7916b43b4282&noncestr=6rs6muegbzaodwao7sl76uomxx9s5vs6&package=WAP&prepayid=wx20150922101123d1aea3ba1a0005507672&timestamp=1442888195&sign=3B59AB4A84BDD3177CB55BB61D6C6408">sdvsd</a>
</body>
</html>