{include file="common/header.html"}

<div class="ac-main">	
	<div class="ac-warp">
		<div class="ac-content" id="ac-content">
			<div class="ac-nav">
				<a href="{U('admin/index/main')}">主页</a>
				<span>&raquo;</span>
				<a href="{U('lists')}">banner管理</a>
			</div>
			<div class="ac-content-inner">
				<div class="ac-table-view">
					<div class="ac-table-card">
						<ul>
							<li class="on"><a href="{U('lists')}">banner管理</a></li>
							<li><a href="{U('add')}">添加banner</a></li>
							<li><a href="{U('recycle')}">banner回收站</a></li>
						</ul>
						<div class="ac-table-right-card">
							<a class="btn ac-back">返回</a>
						</div>
					</div>
					<div class="ac-table-search">
					</div>
					<div class="ac-table-body">
						<form action="{U('listorder')}" method="post">
							<table class="ac-table-basic" cellpadding="8" cellspacing="0">
								<tr>
									<th width="15" align="center"><input type="checkbox" id="chkall" onclick="selectcheckbox(this.form)" value="check"></th>
									<th width="40" align="center">排序</th>
									<th width="40" align="center">编号</th>
									<th width="260" align="center">banner名称</th>
									<th width="150" align="center">开始时间</th>
									<th width="150" align="center">结束时间</th>
									<th align="center">描述</th>
									<th width="200" align="center">操作</th>
								</tr>
								{loop $banner $k $v}
								<tr>
									<td align="center"><input type="checkbox" name="checkbox[]" value="{$v['bannerid']}"></td>
									<td align="center"><input type="text" name="listorder[{$v['bannerid']}]" value="{$v['bannerid']}" class="listorder"></td>
									<td align="center">{$v['bannerid']}</td>
									<td align="left">{$v['title']}</td>
									<td align="left">{php echo $v['starttime']>0?date('Y-m-d H:i:s',$v['starttime']):'无'}</td>
									<td align="left">{php echo $v['endtime']>0?date('Y-m-d H:i:s',$v['endtime']):'无'}</td>
									<td align="left">{cutStr($v['description'],20)}</td>
									<td align="center">
										<a href="{U('edit',array('bannerid'=>$v['bannerid']))}">编辑</a> |
										<a href="{U('delete',array('bannerid'=>$v['bannerid']))}" data-delete>删除</a>
									</td>
								</tr>
								{/loop}
							</table>
							<div class="ac-btn-group">
								<input type="submit" value=" 排序 " class="ac-btn" />
								<div class="ac-page">{$page}</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
{include file="common/footer.html"}