<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={__CHARSET__}" />
<title>{$SEO['title']}-管理中心</title>
<meta name="keywords" content="{$SEO['keywords']}">
<meta name="description" content="{$SEO['description']}">
<link rel="stylesheet" type="text/css" href="{__ADMIN_RES_PATH__}css/admin.css"/>
<script type="text/javascript" src="{__ADMIN_RES_PATH__}js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{__ADMIN_RES_PATH__}js/layer/layer.js"></script>
<script type="text/javascript" src="{__ADMIN_RES_PATH__}js/global.js"></script>
<script type="text/javascript" src="{__ADMIN_RES_PATH__}js/laydate-v1.1/laydate.js"></script>
</head>
<body>
<script>window.layerHander = layer.msg('加载中', {icon:16,time: 10*1000});</script>