{include file="common/header.html"}
<div class="ac-main">
	<div class="ac-warp">
		<div class="ac-content" id="ac-content">
			<div class="ac-content-inner">
				<div class="ac-table-view">
					<div class="ac-table-body">
						<div class="ac-view-body">
							{loop $questionid_array $k $v}
							<iframe id="iframe_{$v['questionid']}" height="1000" width="100%" frameborder="0" src="{U('Question/view',['_index'=>$k+1,'questionid'=>$v['questionid'],'memory'=>'hide'])}"></iframe>
							{/loop}
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
{include file="common/footer.html"}