
<div class="pc-left pc-left-menu border">
	<ul class="pc-menu-out-warp pc-left-menu-inner">
		<li class="curr">
			<div class="pc-menu-title"><i class="pc-text-icon">考</i>考试中心</div>
			<ul class="pc-menu-item">
				<li class="{if C_ROUTE_C=='Exline'}on{/if}"><a href="{U('exline/init')}"><span>在线考试</span></a></li>
				<li class="{if C_ROUTE_C=='Ebline'}on{/if}"><a href="{U('ebline/init')}"><span>综合模拟</span></a></li>
				<li class="{if C_ROUTE_C=='Ecline'}on{/if}"><a href="{U('ecline/init')}"><span>章节模拟</span></a></li>
			</ul>
		</li>
		<li>
			<div class="pc-menu-title"><i class="pc-text-icon">练</i>练习中心</div>
			<ul class="pc-menu-item">
				<li><a href="#"><span>章节练习</span></a></li>
				<li><a href="#"><span>强化练习</span></a></li>
				<li><a href="#"><span>专项练习</span></a></li>
				<li><a href="#"><span>随机练习</span></a></li>
			</ul>
		</li>
		<li>
			<div class="pc-menu-title"><i class="pc-text-icon">统</i>统计/分析</div>
			<ul class="pc-menu-item">
				<li><a href="#"><span>错题统计</span></a></li>
				<li><a href="#"><span>收藏中心</span></a></li>
				<li><a href="#"><span>错题排行</span></a></li>
				<li><a href="#"><span>考试统计</span></a></li>
			</ul>
		</li>
		<li>
			<div class="pc-menu-title"><i class="pc-text-icon">互</i>互动专区</div>
			<ul class="pc-menu-item">
				<li><a href="#"><span>我的评论</span></a></li>
				<li><a href="#"><span>我的问答</span></a></li>
				<li><a href="#"><span>专家解答</span></a></li>
				<li><a href="#"><span>试题贡献</span></a></li>
			</ul>
		</li>
		<li>
			<div class="pc-menu-title"><i class="pc-text-icon">信</i>信息维护</div>
			<ul class="pc-menu-item">
				<li><a href="#"><span>基本信息</span></a></li>
				<li><a href="#"><span>修改密码</span></a></li>
				<li><a href="#"><span>账号绑定</span></a></li>
				<li><a href="#"><span>我的学校</span></a></li>
				<li><a href="#"><span>我的考区</span></a></li>
			</ul>
		</li>
	</ul>
</div>