<nav class="mui-bar mui-bar-tab">
	<a class="mui-tab-item mui-active" href="{U('mobile/index/init')}">
		<span class="mui-icon mui-icon-tiku"></span>
		<span class="mui-tab-label">题库</span>
	</a>
	<a class="mui-tab-item" href="{U('mobile/major/init')}">
		<span class="mui-icon mui-icon-dagang"></span>
		<span class="mui-tab-label">专业</span>
	</a>
	<a class="mui-tab-item" href="#tabbar-with-chat">
		<span class="mui-icon mui-icon-paperplane"></span>
		<span class="mui-tab-label">资讯</span>
	</a>
	<a class="mui-tab-item" href="#tabbar-with-map">
		<span class="mui-icon mui-icon-help"></span>
		<span class="mui-tab-label">问答</span>
	</a>
	<a class="mui-tab-item" href="{U('/Mobile/Member/center')}">
		<span class="mui-icon mui-icon-contact"></span>
		<span class="mui-tab-label">Me</span>
	</a>
</nav>