{include file="common/header.html"}
<div class="ac-main">	
	<div class="ac-warp">
		<div class="ac-content" id="ac-content">
			<div class="ac-nav">
				<a href="{U('admin/index/main')}">主页</a>
				<span>&raquo;</span>
				<a href="{U('lists')}">组卷规则管理</a>
			</div>
			<div class="ac-content-inner">
				<div class="ac-table-view">
					<div class="ac-table-card">
						<ul>
							<li class="on"><a href="{U('lists')}">组卷规则管理</a></li>
							<li><a href="{U('add')}">创建组卷规则</a></li>
						</ul>
						<div class="ac-table-right-card">
							<a class="btn ac-search">搜索</a>
							<a class="btn ac-back">返回</a>
						</div>
					</div>

					<div class="ac-table-search">
						<form name="searchform" action="{U()}" method="get">
							<div class="ac-explain-col search-form">
								科目
								<select id="subjectid" name="search[subjectid]">
									<option value="0">全部科目</option>
									{loop $subject $r $v}
									<option value="{$v['subjectid']}" {if $v['subjectid']==$search['subjectid']}selected{/if}>{$v['subjectname']}</option>
									{/loop}
								</select>
								关键词
								<input type="text" value="{$search['keyword']}" class="text w-200" name="search[keyword]">

								<input type="submit" value="搜索" class="ac-btn" name="dosubmit">
							</div>
						</form>
					</div>

					<div class="ac-table-body">
						<form action="{U('listorder')}" method="post">
							<table class="ac-table-basic" cellpadding="8" cellspacing="0">
								<tr>
									<th width="15" align="center"><input type="checkbox" id="chkall" onclick="selectcheckbox(this.form)" value="check"></th>
									<th width="40" align="center">排序</th>
									<th width="40" align="center">编号</th>
									<th width="120" align="center">科目</th>
									<th width="230" align="center">规则名称</th>
									<th width="200" align="center">简述</th>
									<th width="90" align="center">创建者</th>
									<th width="90" align="center">创建日期</th>
									<th width="200" align="center">操作</th>
								</tr>
								{loop $rule $k $v}
								<tr>
									<td align="center"><input type="checkbox" name="checkbox[]" value="{$v['ruleid']}"></td>
									<td align="center"><input type="text" name="listorder[{$v['ruleid']}]" value="{$v['listorder']}" class="listorder"></td>
									<td align="center">{$v['ruleid']}</td>
									<td align="center">{$v['subjectname']}</td>
									<td align="left">{$v['rulename']}</td>
									<td align="center">{cutStr($v['description'],20)}</td>
									<td align="center">{$v['admin_name']}</td>
									<td align="center">{date('Y-m-d',$v['addtime'])}</td>
									<td align="center">
										<a href="{U('edit',array('ruleid'=>$v['ruleid']))}">编辑</a> |
										<a href="{U('delete',array('ruleid'=>$v['ruleid']))}" data-delete>删除</a>
									</td>
								</tr>
								{/loop}
							</table>
							<div class="ac-btn-group">
								<input type="submit" value=" 排序 " class="ac-btn" />
								<div class="ac-page">{$page}</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{include file="common/footer.html"}