<script>
    $('.loading-modal').remove();
    $('#member-menu-list-bix').on('click','li',function(){

        $.get($(this).attr('data-url'),function(data,status){
            if(data.status=='login'){
                dialog.toast({message:'请先登录'});
                setTimeout(function(){
                    window.location = "{U('mobile/login/login')}";
                },500);
                return;
            }else if(data.status=='logout'){
                dialog.toast({message:'退出成功'});
                setTimeout(function(){
                    window.location = "{U('mobile/login/login')}";
                },500);
            }else{
                dialog.toast({message:'系统错误'});
            }
        });
    });
</script>