<aside id="offCanvasSide-right" class="mui-off-canvas-right">
	<div class="content-warp">
		<div class="item-view-row member-face-box">
			<div class="member-face">
				scscs
			</div>
		</div>
		<div class="item-view-row">
			<div class="title" style="margin-bottom: 25px;">侧滑列表示例</div>
		</div>
		<div class="item-view-row">
			<ul class="mui-table-view mui-table-view-chevron mui-table-view-inverted">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">Item 1</a>
				</li>
			</ul>
		</div>
	</div>
</aside>















