{include file="login/header.html"}
<style>
	textarea#textarea{
		height: auto;
		border: none;
		margin: 0;
		padding: 0;
	}
	.mui-content-padded {
		margin-top:0;
	}
</style>
<header class="mui-bar mui-bar-nav">
	<a href="{U('baseinfo')}" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">完善个人简介</h1>
</header>
<div class="mui-content">
	<div class="mui-card">
		<div class="mui-input-row" style="margin: 10px">
			<textarea id="textarea" rows="5" placeholder="完善个人简介">{$member['introduction']}</textarea>
		</div>
	</div>
	<div class="mui-content-padded">
		<button id='introduction' type="button" class="mui-btn mui-btn-block mui-btn-primary">完善个人简介</button>
	</div>
</div>
<script>
var introduction = $('#introduction') , yuan_introduction = "{@str_replace('"','\"',$member_detail['introduction'])}";
introduction.click(function(){
	if( $('#textarea').val().toString().replace(/\s/g,'')=='' ){
		dialog.toast({message:'请填写个人简介'});
		return;
	}
	if (yuan_introduction==$('#textarea').val()){
		dialog.toast({message:'没有修改信息'});
		return;
	}

	$.ajax({
		url:"{U('',array('query'=>'insert'))}",
		data:{query:'insert',introduction:$('#textarea').val()},
		accepts:'json',
		success: function(replayData,status){
			if(replayData.status=='success'){
				dialog.toast({message:replayData.message},function(){
					window.location = '{U("Mobile/Member/baseinfo")}';
				});
			}else if(replayData.status=='error'){
				dialog.toast({message:replayData.message});
			}else{
				dialog.toast({message:'系统错误'});
			}
		},
		complete: function(status){
			if(status=='timeout'){
				dialog.toast({message:'提交数据超时'});
			}else if(status=='error'){
				dialog.toast({message:'系统错误'});
			}
		},
		timeout:10000
	});
});
</script>
{include file="login/footer.html"}