{include file="login/header.html"}
<header class="mui-bar mui-bar-nav">
	<a href="{U('baseinfo')}" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">手机号码修改</h1>
</header>
<div class="mui-content">
	<div class="mui-card">
		<form class="mui-input-group" id="form-data">
			<div class="mui-input-row">
				<input id='mobile' name="user[mobile]" type="text" class="mui-input-clear mui-input" placeholder="手机号码">
			</div>
			<div class="mui-input-row">
				<input id='code' name="user[code]" type="text" class="mui-input-clear mui-input" placeholder="短信验证码">
				<button id='getcode' class="mui-btn" type="button">获取验证码</button>
			</div>
			<input type="hidden" name="query" value="insert" />
		</form>
	</div>
	<div class="mui-content-padded">
		<button id='queren-mobile' type="button" class="mui-btn mui-btn-block mui-btn-primary">确认手机</button>
	</div>
</div>
<script>
var timer = null;
var sendmsm = $('#getcode') , i = 60 , bind = '';

$('#mobile').change(function(){
	bind = '';
});

sendmsm.click(function(){

	if(!/^1(3|4|5|7|8)\d{9}$/.test($('#mobile').val().toString().replace(/[^\d]/g,''))){
		dialog.toast({message:'手机号码不正确'});
		return;
	}

	if( timer && i > 0 ){
		dialog.toast({message:i+'秒后重新发送'});
		return ;
	}

	sendmsm.html('获取中...');

	$.ajax({
		url:"{U('mobile/login/getregistercode')}",
		data:{query:'getcode',mobile:$('#mobile').val(),bind:bind},
		accepts:'json',
		success: function(replayData,status){
			if(replayData.status=='success'){
				if(timer)clearInterval(timer);
				i = 60;
				timer = setInterval(function(){
					sendmsm.html(i+'秒后重发');
					i--;
					if(i<0){
						clearInterval(timer);
						sendmsm.html('重新获取');
					}
				},1000);

			}else if(replayData.status=='error'){
				sendmsm.html('获取验证码');
				if(replayData.code==-2){
					dialog.confirm({
						message:'您的手机号码已注册，是否绑定到该手机号码？',
						callcancel:function(){
							bind = '';
							dialog.toast({message:'您已取消'});
						},
						callconfirm:function(){
							bind = 'yes';
							sendmsm.trigger('click');
						},
					});
				}else{
					dialog.toast({message:replayData.message});
				}
			}else{
				dialog.toast({message:'系统错误'});
			}
		},
		complete: function(status){
			if(status=='timeout'){
				dialog.toast({message:'提交数据超时'});
			}else if(status=='error'){
				dialog.toast({message:'系统错误'});
			}
		},
		timeout:10000
	});
});


$('#queren-mobile').click(function(){
	
	if(!/^1(3|4|5|7|8)\d{9}$/.test($('#mobile').val().toString().replace(/[^\d]/g,''))){
		dialog.toast({message:'手机号码不正确'});
		return;
	}
	if(!/^[\d]{6}$/.test($('#code').val().toString().replace(/[^\d]/,''))){
		dialog.toast({message:'短信验证码不正确'});
		return;
	}

	var formData = $('#form-data').serialize();
	$.ajax({
		url:"{U('mobile/member/mobile')}",
		data:formData+'&bind='+bind,
		accepts:'json',
		success: function(replayData,status){
			if(replayData.status=='success'){
				dialog.toast({message:replayData.message},function(){
					window.location = '{U("Mobile/Member/baseinfo")}';
				});
				return;
			}else if(replayData.status=='error'){
				dialog.toast({message:replayData.message});
			}else{
				dialog.toast({message:'系统错误'});
			}
		}
	});
});
</script>
{include file="login/footer.html"}