{include file="login/header.html"}
<header class="mui-bar mui-bar-nav">
	<button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left">
		<a href="{U('index/init')}"><span class="mui-icon mui-icon-home"></span>首页</a>
	</button>
	<h1 class="mui-title">设置密码</h1>
	<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right"><a href="{U('init')}">登录</a></button>
</header>
<style>
	.mui-input-row label{padding: 15px}
</style>
<div class="mui-content">
	<div class="mui-card">
		<form class="mui-input-group">
			<div class="mui-input-row">
				<label>手机号</label>
				<input style="display:none" />
				<input id='account' type="text" value="{@get_mobile()}" class="mui-input-clear mui-input" disabled style="color: #999">
			</div>
			<div class="mui-input-row">
				<label>密码</label>
				<input style="display:none" />
				<input id='password' type="text" class="mui-input-clear mui-input" placeholder="设置密码">
			</div>
		</form>
	</div>
	<div class="mui-content-padded">
		<button id='sendMail' class="mui-btn mui-btn-block mui-btn-primary">提交</button>
	</div>
</div>
<script>
	var url = '{U("member/password")}';
	$('#sendMail').click(function () {
		var password = $('#password').val();
		if(password.length<6 || password.length>20){
			dialog.toast({message:'密码长度为6-20'});
			return;
		}
		$.post(url,{
			password:password,
			query:'insert'
		},function (replayDate) {
			if(replayDate.status=='success'){
				dialog.toast({message:'设置成功'},function () {
					window.location = '{U("Mobile/Member/baseinfo")}';
				});
			}else{
				dialog.toast({message:replayDate.message || '系统错误'});
			}
		},'json');
	});
</script>
		
{include file="login/footer.html"}