{include file="login/header.html"}
<style>
	.mui-content-padded {
		margin-top:0;
	}
</style>

<header class="mui-bar mui-bar-nav">
	<a href="{U('baseinfo')}" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">填写性别</h1>
</header>
<div class="mui-content">
	<div class="mui-card">
		<ul class="mui-table-view mui-table-view-radio">
			<li class="mui-table-view-cell {if $member['sex']==1}mui-selected{/if}" data-value="1">
				<a class="mui-navigate-right">男</a>
			</li>
			<li class="mui-table-view-cell {if $member['sex']==2}mui-selected{/if}" data-value="2">
				<a class="mui-navigate-right">女</a>
			</li>
		</ul>
	</div>
	<div class="mui-content-padded">
		<button id='submit-data' type="button" class="mui-btn mui-btn-block mui-btn-primary">填写性别</button>
	</div>
</div>

<script>
	var card = $('.mui-card');
	card.on('click','li:not(.mui-selected)',function () {
		card.find('li.mui-selected').removeClass('mui-selected');
		$(this).addClass('mui-selected');
	});
$('#submit-data') .click(function(){
	if( $('.mui-selected').length<=0 ){
		dialog.toast({message:'请选择性别'});
		return;
	}
	$.ajax({
		url:"{U('',array('query'=>'insert'))}",
		data:{query:'insert',sex:$('.mui-selected').attr('data-value')},
		accepts:'json',
		success: function(replayData,status){
			if(replayData.status=='success'){
				dialog.toast({message:replayData.message},function(){
					window.location = '{U("Mobile/Member/baseinfo")}';
				});
			}else if(replayData.status=='error'){
				dialog.toast({message:replayData.message});
			}else{
				dialog.toast({message:'系统错误'});
			}
		},
		complete: function(status){
			if(status=='timeout'){
				dialog.toast({message:'提交数据超时'});
			}else if(status=='error'){
				dialog.toast({message:'系统错误'});
			}
		},
		timeout:10000
	});
});
</script>
{include file="login/footer.html"}