<div class="ac-view-row">
	<div class="ac-view-col"><label>选项：</label></div>
	<div class="ac-view-col" id="optios"></div>
</div>
<div class="ac-view-row">
	<div class="ac-view-col"><label>答案：</label><span id="answer"></span></div>
</div>
<div class="ac-view-row">
	<div class="ac-view-col"><label>解析：</label><span id="analysis"></span></div>
</div>
<script id="tpl-data" type="text/html">
<table class="ac-table-basic" cellpadding="8" cellspacing="0"><% var l = 0; %>
	<% for(var i in data){ %>
		<% data[i].optionname = String.fromCharCode('A'.charCodeAt()+l++); %>
		<tr><td><span><%=data[i].optionname%>、</span><%=data[i].optiontext%></td></tr>
	<% } %>
</table>
</script>
<script>
var tplFunction = newTplEngine($('#tpl-data').html());

function infusionAdditionData(data){
	$('#optios').html(tplFunction({data:data.option}));
	var answerHtml = data.answer;
	$('#answer').html(answerHtml);
	$('#analysis').html(data.analysis==''?'<font color=red>没有解析</font>':data.analysis);
}
</script>