{include file="common/header.html"}
<script type="text/javascript" src="{__PUBLIC__}Mobile/js/doQuestion.js"></script>
<script>document.write('<style>.m-question-show-row{width:'+(window.W*{@count($question)})+'px;}</style>');</script>
<script>document.write('<style>.window-width{width:'+window.W+'px;}.window-height{height:'+window.H+'px;min-height:'+window.H+'px;}</style>');</script>
<script>document.write('<style>.m-question-show-cell,.m-question-show-row{height:'+(window.H-94)+'px;}</style>');</script>
<script>
$.cookie('window_width', window.W, { expires:9999999, path: '/' });
</script>

<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="{@U('Mobile/index/examInit',['majorid'=>$majorid])}"></a>
	<h1 class="mui-title m-a-left"><span id="show-list-subject">{$subject['subjectname']} 其他科目</span></h1>
	<div class="mui-pull-right">
		<a href="{U('login/init')}" class="mui-icon mui-icon-nighttime mui-pull-left"></a>
		<a href="{U('login/init')}" class="mui-icon mui-icon-share mui-pull-left"></a>
	</div>
</header>
<script>
	$(function () {
		$('#show-list-subject').click(function () {
			var data = {@json_encode($exam_synthesis_subject)};
			window.listSubjectOpen(data);
		});
	});
</script>
<div class="mui-content" id="mui-content">
	<form id="questionForm" action="{U('saveRecord')}">
		<div class="m-question-show-warp">
			{if count($question)}
				<div class="m-question-show-row">
					{loop $question $k $v}
					<div data-ajax='{"questionid":"{$v["questionid"]}","meid":"{$meid}"{if isset($v["optionid"])},"optionid":"{$v["optionid"]}"{/if}}' class="m-question-show-cell window-width"><div class="swiper-sub-warp"></div></div>
					{/loop}
				</div>
			{else}
				<div style="text-align: center; margin-top: 80px;color: red;">没有试题</div>
			{/if}
		</div>
	</form>
</div>
<!-- 操作按钮 -->
{include file="common/question_up_next.html"}
<!-- 答题卡 -->
{include file="common/question_sheet.html"}
<!-- 加载试题模板 -->
{include file="common/question_tpl.html"}
{include file="common/footer.html"}